 /* imports */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500&display=swap');

 /* Universal */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', 'Roboto', 'sans-serif';
 }

 html {
     font-size: 62.5%;
 }

 :root {
     --header-footer-bg: #212529;
     --typo-heading: #1f1f1f;
     --typo-dark-para: #c9c9c9;
     --typo-light-para: #212529;
     --btn-bg: #615cfd;
     --hover: #615cfd;
     --btn-typo: #fff;
     --heading-typo: #fff;

 }

 h1,
 h2,
 h3,
 h4 {
     font-family: 'Roboto', 'sans-serif';
     color: var(--h1-typo);
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
 }


 /* -------------------------- */
 /* Header */
 /* ------------------------- */

 header {
     height: 9rem;
     width: 100%;
     background-color: var(--header-footer-bg);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
 }


 header .navlogo {
     cursor: pointer;
     margin: 3rem 10rem;
 }


 .navmain {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: large;

 }

 .navbar-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0rem 2rem;
     color: #fff;
     gap: 4.5rem;
 }

 .navbar-list:hover {
     color: var(--hover);
 }

 .hello-btn {
     margin: 0 10rem;
     color: #fff;
     border-bottom: 2px solid #615cfd;
     padding-bottom: 3px;
 }

 .Hi-button {
     border-bottom: 2px solid blue;
 }

 /* --------------------------------------------------- */
 /* SECTION - INTRO */
 /* --------------------------------------------------- */
 .header-section {
     background-image: url(/assets/img/asset15.png);
     position: relative;
     height: 100vh;
 }

 .header-text-box {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     padding: 20rem 10rem;
     gap: 5rem;
 }

 .header-text {
     color: #fff;
     font-size: 4rem;
 }

 .visit-btn {
     font-size: 2rem;
     color: #fff;
     background-color: var(--btn-bg);
     padding: 12px;
     border-radius: 3rem;
 }

 /* --------------------------------------------------- */
 /* SECTION - Service */
 /* --------------------------------------------------- */

 .service-section {
     padding-top: 10rem;
 }

 .service-title {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 2rem;
 }

 .title {
     color: #615cfd;
     font-size: 2rem;
 }

 .desc {
     color: var(--typo-light-para);
     font-size: 4rem;
     text-align: center;
 }

 .service-main-box {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 10rem;
     padding-bottom: 10rem;
     gap: 10rem;
 }

 .service-b {
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     gap: 2rem;
     border: #c9c9c9 0.6px solid;
     padding: 8rem;
 }

 .b-title {
     font-size: 2rem;
     font-weight: 200;
 }

 /* --------------------------------------------------- */
 /* SECTION - About */
 /* --------------------------------------------------- */

 .about-container {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background-color: #212529;
 }

 .abt-img {
     width: 90%;
     /* height: 100%; */
 }

 .about-title {
     padding: 2rem 0;
     color: var(--btn-typo);
     font-size: 1.5rem;
 }

 .about-heading {
     padding: 2rem 0;
 }

 .abt-heading {
     color: var(--btn-typo);
     font-size: 3rem;
 }

 .about-para {
     color: var(--typo-dark-para);
     padding: 3rem 0;
 }

 .abt-para-1 {
     font-size: 1.3rem;
 }

 .abt-para-2 {
     font-size: 1.4rem;
     padding-top: 2rem;
 }

 .about-btn {
     padding: 2rem 0;
 }

 .about-us-btn {
     color: var(--btn-typo);
     font-size: 1.5rem;
     background-color: #615cfd;
     border-radius: 5rem;
     padding: 10px 20px;
 }

 /* --------------------------------------------------- */
 /* SECTION - Featured Works*/
 /* --------------------------------------------------- */

 .featured-work {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 10rem 30rem;
 }

 .feature-title {
     padding: 5rem 0;
 }

 .f-title {
     color: var(--header-footer-bg);
     font-size: 4.5rem;
     font-weight: 400;
 }

 .feature-desc {
     line-height: 2rem;
 }

 .f-desc {
     text-align: center;
     font-size: 1.5rem;
     color: var(--typo-light-para);
 }

 .feature-grids {
     padding: 5rem 0;
 }

 .grid-row-1 {
     display: flex;
     flex: 67% 33%;
     gap: 3rem;

 }

 .grid-row-2 {
     display: flex;
     flex: 33.3% 33.3% 33.3%;
     gap: 3rem;
     padding-top: 2rem;
 }