 /* imports */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500&display=swap');

 /* Universal */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', 'Roboto', 'sans-serif';
 }

 html {
     font-size: 62.5%;
 }

 :root {
     --header-footer-bg: #212529;
     --typo-heading: #1f1f1f;
     --typo-dark-para: #c9c9c9;
     --typo-light-para: #212529;
     --btn-bg: #615cfd;
     --hover: #615cfd;
     --btn-typo: #fff;
     --heading-typo: #fff;

 }

 h1,
 h2,
 h3,
 h4 {
     font-family: 'Roboto', 'sans-serif';
     color: var(--h1-typo);
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 /* -------------------------- */
 /* Header */
 /* ------------------------- */

 header {
     height: 9.5rem;
     width: 100%;
     background-color: var(--header-footer-bg);
     display: flex;
     justify-content: space-between;
     position: fixed;
 }

 /* NavBar Main*/
 .header .navmain {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* logo */
 header .navlogo {
     cursor: pointer;
     margin: 3rem 10rem;
 }

 .navmain .navbar-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 15rem;
     background-color: var(--header-footer-bg);
     color: var(--btn-typo);
     gap: 5.5rem;
     font-size: large;
 }

 .navmain .navbar-btn {
     margin: 0 10rem;
     border-bottom: 0.3rem solid #615cfd;
 }

 /* SECTION - INTRO */

 .main-slider-bg .slider-img {
     width: 100%;
 }

 .slider-two-col .intro-heading {
     /*create two grid coulmn*/

     display: grid;
     grid-template-columns: repeat(2, 1fr);
     display: flex;
     justify-content: center;
     align-items: center;
 }