/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500&display=swap');

/* Universal */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', 'sans-serif';
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
}


.dark-mode {
    background-color: #051630;
    color: white;
    /* 
    --header-footer-bg: #212529;
    --heading-text-dark: #1f1f1f;
    --heading-text-light: #fff;
    --para-text-light: #c9c9c9;
    --para-light-medium: #707070;
    --para-text-dark: #212529;
    --btn-bg: #615cfd;
    --btn-hover: #615cfd;
    --btn-text: #fff;
     */
}


.dark-btn {
    background-color: #212529;
    border: none;
    margin-right: 20px;
}

.dark-btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.7s ease-in-out;
}


:root {
    --header-footer-bg: #212529;
    --heading-text-dark: #1f1f1f;
    --heading-text-light: #fff;
    --para-text-light: #c9c9c9;
    --para-light-medium: #707070;
    --para-text-dark: #212529;
    --btn-bg: #615cfd;
    --btn-hover: #615cfd;
    --btn-text: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', 'sans-serif';

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* -------------------------- */
/* Header */
/* ------------------------- */

.navbar {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.nav-main-container {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-bg);
    position: relative;
    height: 10rem;
    width: 100%;
    font-size: 2rem;
}

.nav-menu-container {
    padding: 2rem;
}

.navlogo {
    cursor: pointer;
}

.navbar-list {
    display: flex;
    padding: 0 3rem;
    color: #fff;
}

.navbar-list:hover {
    transition: all 0.9s linear;
    color: var(--btn-bg);
}

.nav-hello-container {
    padding: 0 5rem 0 0;
}

.hello-btn {
    color: #fff;
    border-bottom: 2.5px solid #615cfd;
    padding-bottom: 3px;
}

.nav-darkmode-container {
    padding-top: 10px;
}

.dark-btn {
    background-color: transparent;
}


/* --------------------------------------------------- */
/* SECTION - INTRO */
/* --------------------------------------------------- */
.header-section {
    background-image: url(/assets/img/contact-header.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding: 20rem 10rem;
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.header-section::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--heading-text-dark);
    opacity: .5;
    z-index: -1;
    content: '';
}

.header-text {
    color: var(--heading-text-light);
    font-size: 7rem;
    font-weight: 500;
    padding: 0 0 0 5rem;
}

/* --------------------------------------------------- */
/* SECTION - Main container */
/* --------------------------------------------------- */

.blog-section-padding {
    padding: 10rem 0 10rem 0;
}

.blog-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
}

/* --------------------------------------------------- */
/* Blog detail*/
/* --------------------------------------------------- */

.blog-detail {
    padding: 2rem 0 0 2rem;
    text-align: justify;
}

.detail-2 {
    padding: 5rem 0 0 2rem;
    text-align: justify;
}

.detail-2-bg-grey {
    background: rgba(130, 139, 178, .1);
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

.detail-2-bg-white {
    background: #fff;
    padding: 25px 25px 25px 30px;
    border-left: 2px solid;
}

/* --------------------------------------------------- */
/* SECTION - Contact Form*/
/* --------------------------------------------------- */


.contact-main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 2rem 5rem 5rem 15rem;
    gap: 5rem;
}

.contact-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 5rem 5rem 0rem 15rem;
    gap: 5rem;

}

.c-title {
    font-size: 3rem;
    font-weight: 200;
}


.form-container {
    display: unset;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.enter-msg {
    padding: 5rem 10rem;
    text-align: left;
    border: 1px solid var(--typo-light-para2);
}

.name-email-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.btn-row {
    padding: 4rem 0;
}

.send-btn {
    padding: 1.5rem 4rem;
    border: #615cfd 1px solid;
    font-size: medium;
    color: #615cfd;
}

.sidebar-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem 5rem 25rem;
    gap: 2rem;
}

.sidebar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.sidebar-mail {
    padding-left: 4rem;
}


/* --------------------------------------------------- */
/* SECTION - Footer*/
/* --------------------------------------------------- */

.footer-container {
    padding: 10rem 0;
    background-color: #212529;
}

.footer-row {
    padding: 3rem 0;
}

.footer-img {
    width: 10rem;
}

.footer-list {
    display: flex;
    justify-content: start;
    align-self: center;
    padding-left: 7rem;
    gap: 2rem;
    font-size: 2rem;
    color: #fff;
}

.footer-list:hover {
    color: #615cfd;
    transition: all 0.5s;
}

.fa-brands {
    border: 0.6px solid var(--btn-text);
    padding: 1.5rem;
    border-radius: 30px;
    color: #fff;
    font-size: small;
}

.fa-brands:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #615cfd;
    transition: all 0.5s;
}


.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 2rem;
    border-top: 0.4px solid;
    border-color: #707070;
}

#colorlib {
    color: #615cfd;
}